[submodule "backend"]
	path = backend
	url = https://github.com/EkiXu/CTFm_Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/EkiXu/CTFm_Frontend
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/EkiXu/CTFm_Dashboard
